body {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(26, 1fr);
  background-image: url(Pictures/table4.png);
  height: 1024px;
  width: 1536px;
  background-repeat: no-repeat;
  margin: 0px;
}

#check {
  font-size: 50px;
  color: black;
  grid-column: 5 / span 6;
  grid-row: 9 / span 3;
  display: flex;
}

#words {
  font-size: 50px;
  color: black;
}
