body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

#dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dealerTable {
  display: flex;
  margin: 20px;
  gap: 20px;
}

#message {
  border: 5px solid black;
  width: 200px;
  height: 100px;
  font-size: 20px;
}

#playersTable {
  display: flex;
  align-items: center;
  gap: 20px;
}

.playerTable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  font-size: 20px;
}

#cardTable {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.cards {
  border: 2px solid black;
  max-width: 5rem;
}

#inGameButtons {
  display: flex;
  gap: 10px;
  margin: 20px;
}

#outGameButtons {
  display: flex;
  gap: 10px;
}

#leftDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
}

#token {
  display: flex;
  gap: 10px;
}

#addMinus {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

#coinsSelections {
  display: flex;
  gap: 10px;
}

#play {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
}

#player1PlayButton {
}
#player2PlayButton {
}
#player1NoPlayButton {
}
#player2NoPlayButton {
}
