body {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(26, 1fr);
  background-image: url(Pictures/table4.png);
  background-repeat: no-repeat;
  height: 1024px;
  width: 1536px;
  margin: 0px;
  justify-content: center;
  font-family: "DM Serif Text", serif;
}

/* #dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
h1 {
  grid-column: 10 / span 8;
  grid-row: 3 / span 1;
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 20px;
}
h2 {
  background-image: url(Pictures/Instruction.avif);
  background-size: cover;
  grid-column: 4 / span 20;
  grid-row: 4 / span 20;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(26, 1fr);
  color: white;
  font-size: 1.2rem;
}
#instructionWords {
  grid-column: 9 / span 13;
  grid-row: 9 / span 8;
}
#enterGame {
  grid-column: 12 / span 4;
  grid-row: 22 / span 3;
  font-size: 30px;
}

#rules {
  position: absolute;
  /* grid-column: 25 / span 1;
  grid-row: 2 / span 1; */
  z-index: 100;
}

#reset {
  grid-column: 13 / span 2;
  grid-row: 24 / span 2;
}

#dealer {
  grid-column: 8 / span 12;
  grid-row: 7 / span 5;
}

#dealerTable {
  grid-column: 8 / span 12;
  grid-row: 7 / span 5;
  display: flex;
  margin: 0px;
  gap: 20px;
  justify-content: center;
  /* margin: 30px; */
  margin-top: 45px;
}

#message {
  grid-column: 12 / span 4;
  grid-row: 17 / span 6;
  padding: 30px;
  width: 240px;
  height: 280px;
  font-size: 20px;
  justify-content: center;
  color: white;
  font-size: 30px;
}

#playersTable {
  grid-column: 4 / span 20;
  grid-row: 20 / span 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -50px;
  /* gap: 20px; */
}
.player {
  display: none;
}

#cardTable {
  display: flex;
  margin: 40px;
  gap: 20px;
}

.cards {
  border: 0px solid black;
  max-width: 7rem;
  object-fit: cover; /* prevents distortion */
  display: block;
  visibility: ;
}

#dealerCard3 {
}
#player1Card3 {
}
#player2Card3 {
}

#player1 {
  grid-column: 4 / span 20;
  grid-row: 20 / span 5;
}

#player2 {
  grid-column: 9 / span 10;
  grid-row: 17 / span 6;
}
.playerTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -26px;
}

#inGameButtons {
  display: flex;
  gap: 10px;
  margin: 0px;
  margin-top: -37px;
}

#outGameButtons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

#leftDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#token {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  color: white;
  font-size: 30px;
  align-items: center;
}

p {
  margin: 0px;
  /* font-family: "Funnel Sans", sans-serif; */
}
#addMinus {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
#player1AddMinus {
  /* height: auto; */
  font-size: 20px;
  font-weight: bold;
}
#player1AddMinus:hover {
  box-shadow: 0 0 15px 5px blue;
}
#player2AddMinus {
  /* height: auto; */
  font-size: 20px;
  font-weight: bold;
}
#player2AddMinus:hover {
  box-shadow: 0 0 15px 5px blue;
}

.coins {
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 70px;
}

#coinsSelections {
  display: flex;
  gap: 10px;
}

#player1CoinsSelections {
  display: flex;
  gap: 2px;
}
#player1Coin5 {
  background-image: url(Pictures/5Chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%; /* Make it a perfect circle */
}
#player1Coin10 {
  background-image: url(Pictures/10Chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%; /* Make it a perfect circle */
}
#player1Coin20 {
  background-image: url(Pictures/20Chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%; /* Make it a perfect circle */
}
#player1Coin50 {
  background-image: url(Pictures/50Chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%; /* Make it a perfect circle */
}
#player1Coin5:hover {
  box-shadow: 0 0 15px 5px white;
}
#player1Coin10:hover {
  box-shadow: 0 0 15px 5px white;
}
#player1Coin20:hover {
  box-shadow: 0 0 15px 5px white;
}
#player1Coin50:hover {
  box-shadow: 0 0 15px 5px white;
}

#player2CoinsSelections {
  display: flex;
  gap: 2px;
}
#player2Coin5 {
  background-image: url(Pictures/5Chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%; /* Make it a perfect circle */
}
#player2Coin10 {
  background-image: url(Pictures/10Chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%; /* Make it a perfect circle */
}
#player2Coin20 {
  background-image: url(Pictures/20Chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%; /* Make it a perfect circle */
}
#player2Coin50 {
  background-image: url(Pictures/50Chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%; /* Make it a perfect circle */
}
#player2Coin5:hover {
  box-shadow: 0 0 15px 5px white;
}
#player2Coin10:hover {
  box-shadow: 0 0 15px 5px white;
}
#player2Coin20:hover {
  box-shadow: 0 0 15px 5px white;
}
#player2Coin50:hover {
  box-shadow: 0 0 15px 5px white;
}

#play {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 20px;
}
#player1PlayButton {
  color: black;
  height: 50px;
  width: 63px;
  font-size: 20px;
}
#player1PlayButton:hover {
  box-shadow: 0 0 15px 5px white;
}
#player2PlayButton {
  color: black;
  height: 50px;
  width: 63px;
  font-size: 20px;
}
#player2PlayButton:hover {
  box-shadow: 0 0 15px 5px white;
}

#player1NoPlayButton {
  color: white;
  font-size: 20px;
}
#player2NoPlayButton:hover {
  box-shadow: 0 0 15px 5px black;
}
#player2NoPlayButton {
  color: white;
  font-size: 20px;
}
#player2NoPlayButton:hover {
  box-shadow: 0 0 15px 5px black;
}

#player2HitButton {
  color: white;
  font-size: 20px;
}
#player2HitButton:hover {
  box-shadow: 0 0 15px 5px red;
}

#player2StayButton {
  color: white;
  font-size: 20px;
}
#player2StayButton:hover {
  box-shadow: 0 0 15px 5px red;
}

#player1HitButton {
  color: white;
  font-size: 20px;
}
#player1HitButton:hover {
  box-shadow: 0 0 15px 5px red;
}

#player1StayButton {
  color: white;
  font-size: 20px;
}
#player1StayButton:hover {
  box-shadow: 0 0 15px 5px red;
}
